
.banner-container{
    position: relative;
    overflow: auto;
    
}

.banner-content, .loading-animation{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content .banner-info{
    padding-left: 20px;
}

.banner-content .banner-info h1{
    font-size: 4.5rem;
}

.banner-content .banner-info span{
    font-size: 1.8rem;
}

.banner-image img{
    
    margin: 0 auto;
    display: block;
    width: 50%;
   
}